<div class="container">
  <h2>All Posts</h2>

  <ul>
    <% @posts.each do |post| %>
      <div class="col-3">
      <%= link_to post.dog_name, post_path(post) %>
      <%= link_to post.day, post_path(post) %>
      <%= link_to post.prefecture.name, post_path(post) %>
      <!--都道府県名を表示-->
      </div>
    <% end %>
  </ul>
</div>

