<div class="container">
  <div class="row">
    <div class="col-md-2 mt-5 mb-3 mb-mb-2">
      <div class="card">
        <div class="card-header">
          <i class="fa-solid fa-map-pin"></i> 都道府県 <i class="fa-solid fa-map-pin"></i>
        </div>
        <div class="card-body">
          <ul class="list-unstyled">
            <li><%= link_to "すべてを表示", posts_path %></li>
              <% @prefectures.each do |prefecture| %>
                <li><%= link_to prefecture.name, posts_path(prefecture: prefecture.id) %></li>
              <% end %>
              <!--都道府県一覧はdb/seedに記述-->
          </ul>
        </div>
      </div>
    </div>
      <div class="col-md-10 mb-1">
        <h3 class="text-center">
        <i class="fa-solid fa-paw"></i>投稿一覧<i class="fa-solid fa-paw"></i>
        </h3>
          <%= render 'index', posts: @posts %>
        <div class="col-10 mt-4">
          <%= paginate @posts %>
        </div>
      </div>
    </div>
  </div>
</div>


