

  <!--<div class="row">-->
  <!--  <div class="col text-center p-4 h-100 w-100">-->
      <h4>
        愛犬のお散歩代行のコミュニティサイトです。</br>
        愛犬と過ごしているけど、お散歩に行ってあげられない飼い主さん</br>
        お散歩にいけなくてストレスが溜まるワンちゃん</br>
        ワンちゃんと触れ合いたい方</br>
　　　　全員が幸せになれるコミュニティサイトです。</br>
      </h4>
  <!--  </div>-->
  <!--</div>-->
