
<div class="container">
  <div class="row d-flex justify-content-center">
    <div class="col-md-auto text-center border-bottom">
      <font size="10">
        <i class="fa-solid fa-bone fa-beat" style="color: #8d6e62;"></i> Walky Time! について <i class="fa-solid fa-bone fa-beat" style="color: #8d6e62;"></i>
      </font>
    </div>
  </div>
  <div class="row">
    <div class="col text-center p-4 h-100 w-100">
      <h4 class="about-text">
        愛犬のお散歩代行のコミュニティサイトです。</br>
        お散歩に行けないわんちゃん、飼い主さん</br>
        わんちゃんと触れ合うきっかけがほしい方</br>
　　　　なれるコミュニティサイトです。</br>
      </h4>
    </div>
  </div>