<div class="container">
  <!--<div class="row">-->
    <!--<div class="col-8">-->
      <!--<div class="main_visual">-->
        <%= image_tag '☆TOP☆.jpg', class: 'img-fluid'%>
        <h4 class="text">
          このサイトは、お散歩にいけない<br>
          ワンちゃん・飼い主さんのための<br>
          お散歩代行コミュニティサイトです。<br>
        </h4>
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
</div>
