<div class="container">
  <div class="row">
    <div class="col-8">
        <div class="main_visual">
          <%= image_tag '★Walky Time★.png' ,class:'main_visual_image' %>
          <h4>
            お散歩にいけないワンちゃん・飼い主さんのための<br>
            お散歩代行コミュニティサイトです<br>
          </h4>
        </div>
    </div>
  </div>
</div>
