<div class="container">
  <div class="row">
    <div class="col-8">
      <div class="main_visual">
        <%= image_tag 'Walky Time (8).png', class: 'main_visual_image' %>
        <h2 class="text">
          このサイトは、お散歩にいけないワンちゃん・飼い主さんのための<br>
          お散歩代行コミュニティサイトです。<br>
        </h2>
      </div>
    </div>
  </div>
</div>
