@use '~bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Hachi+Maru+Pop&family=Raleway&display=swap');


html,
body {
  font-family: 'Raleway', 'Hachi Maru Pop', cursive;
  font-weight: bold;
  color: #8d6e62;
}

.top{
  text-decoration: none;
  color: #48120E ;
}

.main_visual{
  position: relative;
}

.main_visual_image{
  width: 150%;
  height: 700px;
}



.text{
  // position: absolute;
  // top: 70%;
  // left: 115%;
  // transform: translate(-50%,-50%);
  // background-color: rgba(255,255,255,0.4);
  // width: 80%;
  // height: 250px;
  // display: flex;
  // align-items: center;
  // justify-content: center;
  // text-shadow: 2px 2px 0px white;
  // line-height: 1.5;
  position: absolute;
  bottom: 25px;
  right: 25px;
}

.post-card-img {
  width: 100%;
  height: 250px;
  border-radius: 50%;
  object-fit: cover;
}

@media screen and (max-width: 767.98px) {
  .post-card-img {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
}

a {
  color: #8d6e62; /* ここに適切な色コードを指定します */
  /* 他のスタイルも追加できます */
}

/* リンクがホバー（マウスが重なったとき）したときのスタイル */
a:hover {
  color : #ffaa00; /* ホバー時にアンダーラインを表示 */
  /* 他のホバー時のスタイルも追加できます */
}

.alert-message {
  color: red;
  font-weight: bold;
}